@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility */
.text-primary {
  color: #93cb52;
}

.large-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #7ab436;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.medium-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.list {
  list-style: none;
  margin: 0.5rem 0;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 1px dotted;
}

#navbar {
  display: flex;
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

#showcase {
  background: #333 url('showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  position: absolute;
  top: 69px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

#what {
  background: #f4f4f4;
  color: #333;
  padding: 1.5rem 0;
}

#what h2 {
  text-align: center;
}

#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#who {
  display: flex;
}

#who .who-img,
#who .who-text {
  flex: 1;
}

#who .who-img {
  background: url('people.jpg') no-repeat center center/cover;
}

#who .who-text {
  background: #333;
  color: #fff;
  padding: 2rem;
}

#clients {
  padding: 1.5rem 0;
}

#clients h2 {
  text-align: center;
}

#clients .items {
  display: flex;
  padding: 1.5rem 0;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

#contact {
  background: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: space-around;
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#contact .form .form-group {
  margin: 0.75rem;
}

#contact .form label {
  display: block;
}

#contact .form input,
#contact .form textarea,
#contact .form button {
  width: 100%;
  padding: 0.5rem;
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 1rem 0;
}
